html{
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}


/*-----------------NAVBAR------------------*/

.navbar_nav {
    background: black;
}

.navbar_nav::after{
    content: '';
    clear: both;
    display: table;
}

.navbar_nav .logo_navbar{
    float: left;
    font-size:27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
}

.navbar_nav .logo_navbar a{
    color: white;
    text-decoration: none;
}

.navbar_nav .logo_navbar .D{
    color: cyan;
}

.navbar_nav ul{
    margin-top: 20px;
    float:right;
    list-style: none;
    margin-right: 40px;
    position: relative;
}

.navbar_nav ul li{
    float: left;
    display: inline-block;
    background:black;
    margin: 0 5px;
}

.navbar_nav ul li a{
    color: white;
    text-decoration: none;
    text-emphasis: 70px;
    font-size: 18px;
    padding: 8px 15px; 
}

.navbar_nav ul li a:hover{
    color: cyan;
    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
                0 0 5px #66ffff; 
}

.icon_nav, .show, .input1 {
    display: none;
}

@media all  and (max-width: 968px) {     /*---resposive---*/ 
    .navbar_nav ul {
        margin-right: 0;
        float: left;
        margin-top: -5px;
    }
    .navbar_nav .logo_navbar{
        padding-left:30px;
        width: 100%;
    }

    .navbar_nav ul li{
        display: block;
        width: 100%;
    }
    .navbar_nav ul li a:hover{
        box-shadow: none;
    }

    .icon_nav{
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    .show{
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover{
        color: cyan;
    }

    .show + a,ul {
        display: none;
    }

    [id^=btn]:checked + ul{
        display: block;
    }
}

/*------------------INICIO---------------------*/

.inicio {
    width: 100%;
    height: 700px; 
    background: linear-gradient(black, rgb(1, 70, 70),black);  
    display: flex;
}

.text {
    margin: auto;
    color: white;
    flex-direction: column;
    text-align: center;
}

.text h2 span{
    color: cyan;
}

.name{
    font-size: 2rem;
    padding-top: 1em;
}

.paragraph{
    font-size: 1rem;
    font-weight: 300;
}

.item{
    position: relative;
    padding-left: 1rem;
}

.inicio img{
    border: none;
    position: relative;
    border-radius: 50%;
    height: 150px;
}

@media (max-width:636px){
    .inicio{
        height: 700px;
    }
}


/*-----------------------------PORTAFOLIO------------------------------*/
.portafolio {
    background-color: black;  
    height: 720px;
    align-items: center;
}

.portafolio-heading {
    height: 210px;
}

.portafolio-heading h2{
    font-size: 150px;  
    text-align: center;
    font-weight: 900;
    background: linear-gradient(rgb(68, 67, 67),black);    /*degrade texto*/
    -webkit-background-clip: text;
    color: transparent;  
    padding-top: 40px;
    user-select: none;
}

.galery {
    width: 68%;
    height: 440px;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-left: 15%;
    opacity: .7;
    grid-gap: 10px; 
}

.galery figure{
    position: relative;
    height: 225px;
    width: 342px;
    overflow: hidden;
    cursor: pointer;
}

.galery figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.galery figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    text-align: center;
    transition: all 500ms ease-out;
}

.galery figure:hover > .capa{
    opacity: 0.6;;
    visibility: visible;
    background-color: black;
}

.galery figure:hover > .capa h3{
    margin-top: 40px;
    margin-bottom: 15px;
}

.galery figure:hover > img{
    transform: scale(1.3);
}

.galery figure:hover > .capa i{
    transition: all .5s;
}

.galery figure:hover > .capa i:hover{
    color: black
}

.galery figure .capa h3{
    color: white;
    font-weight: 400;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;
}

.galery figure .capa p{
   color: white;
   font-size: 15px;
   line-height: 1.5;
   width: 100%;
   max-width: 220px;
   margin: auto; 
}

.galery figure .capa i{
    margin-top: 20px;
    color: white;
    width: 30px;
}


@media (max-width: 636px){
    .galery {
        width: 68%;
        height: 100px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-left: 25%;
        opacity: .7;
    }

    .portafolio-heading h2{
        font-size: 90px;  
        text-align: center;
        font-weight: 900;
        background: linear-gradient(rgb(141, 138, 138),black);    /*degrade texto*/
        -webkit-background-clip: text;
        color: transparent;  
        padding-top: 20px;
    }

    .portafolio {
        background-color: black;  
        height: 1000px;
        align-items: center;
    }
    
}

/*-------------------------------sobreMi----------------------------*/

.sobreMi {
    display: grid;
    grid-template-columns:repeat(10,1fr);
    height: 720px;
}

.sobreMi img{
    width: 100%;
    height: 100%;
    grid-column: 1/5;
}
.description{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 15%;
    grid-column: 5/10;
    padding-top: 50px;
}

.description h2{
    font-size: 70px;  
    font-weight: 500;
    width: 100%;
    color: cyan;
}

.description h2 span{
    color: black;
}

.divisor{
    height: 5px;
    width: 100px;
    background-color: cyan;
}

.description p{
    margin-bottom: 10%;
    margin-top: 50px;
}

.description button{
    margin-left: 5%;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: black;
    color: white;
    border: none;
    transition: .5s ease-in;
    letter-spacing: 1px;
}

.description button:hover{
    background-color: cyan;
    color:black;
    outline: 0;
}

@media (max-width: 636px){
    .sobreMi {
        display: grid;
        grid-template-columns:repeat(10,1fr);
        height: 350px;
    }

    .sobreMi img{
        display: none;
    }

    .description{
        margin-left: 5%;
        margin-top: 5%;
        grid-column: 5/10;
        padding-top: 20px;
        margin-left: -200px;
    }
    
    .description h2{
        font-size: 40px;  
        font-weight: 500;
        width: 100%;
        color: cyan;
        
    }
    
    .description h2 span{
        color: black;
    }
    
    .divisor{
        height: 3px;
        width: 100px;
        background-color: cyan;
    }
    
    .description p{
        margin-bottom: 5%;
        margin-top: 10px;
        font-size: 15px;
    }
    
    .description button{
        margin-left: 5%;
        padding: 10px 20px;
        border-radius: 50px;
        background-color: black;
        color: white;
        border: none;
        transition: .5s ease-in;
        margin-top: 50px;
    }

    
}

/*---------------------------Contactos-----------------------------------*/

.Contacto {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding:1.5em;
    background-color: black;
}

.logo{
    margin: auto;
    height: 150px;
}

.logo h2{
    padding-top: 0px;
    font-size: 100px;  
    text-align: center;
    font-weight: 900;
    background: linear-gradient(rgb(139, 137, 137),black);
    -webkit-background-clip: text;
    color: transparent; 
    user-select: none;
}


.contact-wrapper > * {
    padding:1em ;
    opacity: .6;
    margin-top: 10px;

}

.contact-form p label {
    color: white;
}
.contact-form form {
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form form .block{
    grid-column: 1 / 3;
}

.contact-form form p{
    margin:0;
    padding: 1em;
}


.contact-form form button,
.contact-form form input,
.contact-form form textarea {
    width: 100%;
    padding: .8;
    border: none;
    background: none;
    border-bottom: 1px solid cyan;
    outline: none;
    color: white;
    resize: none;
    margin-top: 5px;
} 

.contact-form form button{
    background-color: cyan;
    border: 0;
    text-transform: uppercase;
    padding: 1em;
    color: black;
    transition:all 1s;
    letter-spacing: 3px;
}

.contact-form form button:hover,
.contact-form form button:focus{
    background-color: cyan;
    opacity: 1;
    outline: 0;
    scale: 1.05;
    box-shadow: 0 0 20px 0 cyan;
}

.contact-info{
    background-color: white;
    border-radius: 20px;
    margin: 0 10%;
    color: black;
    transition: 1s;
}

.contact-info:hover{
    transform: scale(1.1);
    box-shadow: 0 0 20px 0 white;
    background: white;
    opacity: 1;
}

.contact-info h4,
.contact-info ul, 
.contact-info p {
    text-align: center;
    margin: 0 0 1em 0;
}

.contact-info ul{
    list-style: none; 
    padding: 0;
}

.contact-info ul li{
    padding: .3 em;
}
.contact-info span {
    padding-left: 10px;
}

/* large size*/

@media (min-width: 636px) {

    .contact-wrapper {
        display: grid;
        grid-template-columns:2fr 1fr ;
    }

    .contact-wrapper > * {
        padding: 2em;
    }
    
    .logo h2{
        font-size: 150px;  
        text-align: center;
        background: linear-gradient(rgb(83, 83, 83),black);
        -webkit-background-clip: text;
        padding-top: 20px;
    }


    .contact-info h4,
    .contact-info ul,
    .contact-info p {
        padding: 1em;
        text-align: left;
    }

    .contact-info{
        background-color: white;
        border-radius: 20px;
        color: black;
        transition: 1s;
        height: 470px;
        margin-top: 50px;
    }
}

/*---------------------footer-----------------------*/

.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color:white ;
    text-align: center;
}

.footer-content h2 {
    font-size: 3em;
    color: black;
}

.footer-content h5,
.social-network i {
    font-size: 1.5em;
    color:black;
}

.social-network {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: .5 em;
}

.social-network i{
    transition: .5s;
}

.social-network i:hover{
    opacity: .6;
    color: rgb(6, 173, 173);
    scale: 1.05;
}